.greytable {
	background-color: #d6e7ef;
	padding-top: 2%;
	padding-bottom: 2%;
	width: 96%;
	margin: auto;
}

.innerGreyTable>a {
	color: #ff0000;
	padding: 2%;
	font-family: Verdana;
	font-size: small;
	font-weight: bold;
}

.innerGreyTable>a:active {
	color: #0033cc;
}

.innerGreyTable>a:hover {
	color: #0033cc;
}

.innerGreyTable>a:visited {
	color: #660000;
}
